# Default snippets

snippet date "current date"
`date +%d/%m/%y`
endsnippet

snippet time "current time"
`date +%R:%S`
endsnippet

snippet datetime "current date & time"
`date +%d/%m/%y\ %R:%S`
endsnippet

snippet doc "document the current file" b
File Documentation
Filename: `!v expand("%:t")`
Author:${1: `!v expand("$USER")`}
last updated: `date +%d/%m/%y\ %R:%S`
Description:
$2
TODO:
$3
endsnippet
